@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

*,
h1 {
    font-weight: bold;
}

.top-bar {
    background-color: rgb(247, 209, 134);
    display: flex;
    justify-content: flex-end;
    margin: 0px auto;
    padding: 20px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.top-bar a:last-child {
    padding-right: 150px;
}

body {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Open Sans', monospace;
    letter-spacing: 0.05em;
    margin: 0px;
}

.link-top {
    width: 100%;
    height: 2px;
    border-top: solid gainsboro 3px;
}


.top-bar div {
    font-size: 20px;
    margin: 10px 10px 5px 10px;
}


.experience h1 {
    margin: 100px 200px 0px 200px;
    font-weight: bold;
}

.LF-START p,
.nccuea-START p,
.gm38-START p,
.itlab-START p,
.child-START p {
    font-size: x-large;
    font-weight: bolder;
}

.LF-START span,
.nccuea-START span,
.gm38-START span,
.itlab-START span,
.child-START span {
    font-size: large;
    font-weight: bolder;
}

.LF {
    padding: 0px 230px 0px 230px;
}

.LF div {
    padding: 15px 0px 0px 0px;
}

.LF-introduce {
    display: flex;
    padding: 50px 150px 0px 150px;
}

.title h4 {
    padding: 0px 5px 0px 20px;
    font-weight: bold;
    margin: 5px;
}

.LFword {
    margin: 0px 0px 20px 20px;
    line-height: 30px;
}

.title {
    display: flex;
}

.title p {
    background-color: rgb(254, 230, 181);
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    text-align: center;
    max-width: 300px;
    margin: 0px;
}

.canva {
    display: flex;
}

.canva2 {
    margin: 0px 0px 0px 20px;
}

.canva p {
    text-align: center;
    margin: 0px 0px 0px 400px;
}

.nccuea {
    padding: 0px 230px 0px 230px;
}

.nccuea div {
    padding: 20px 0px 0px 0px;
}

.shopback,
.lawsnote,
.wordup {
    display: flex;
    margin: 20px 30px 20px 30px;
    background-color: gainsboro;
    border-radius: 10px;
}

.shopback h5,
.lawsnote h5,
.wordup h5 {
    margin:0;
    padding: 20px 5px 5px 0px;
    font-weight: bold;
    font-size: large;
}

.shopback div,
.lawsnote div {
    padding: 0px 20px 20px 30px;
}

.wordup div {
    padding: 10px 20px 20px 30px;
}
.ep01,
.ep05 {
    display: flex;
    margin: 20px 30px 20px 30px;
    background-color: gainsboro;
    border-radius: 10px;

}

.ep01 div {
    padding: 0px 0px 20px 60px;
}

.ep01 h5,.ep05 h5 {
    padding: 10px 5px 5px 0px;
    font-weight: bold;
    font-size: large;
    margin:0;
}

.ep01 p {
    padding: 10px 0px 5px 0px;
}

.ep05 div {
    padding: 0px 0px 0px 60px;
}

.ep05 p {
    padding: 0px 0px 10px 0px;
}

.gm38 {
    padding: 0px 230px 0px 230px;
}

.gm38 div {
    padding: 20px 0px 0px 0px;
}

.gm38-img {
    display: flex;
    margin: 0px 0px 20px 20px;
}

.gm38-2 {
    margin: 0px 0px 0px 20px;
}

.itlab {
    padding: 0px 230px 0px 230px;
}

.itlab div {
    padding: 20px 0px 0px 0px;
}

.link {
    display: flex;
}



.itlab01,
.itlab02,
.itlab03 {
    display: flex;
    margin: 20px 30px 20px 30px;
    background-color: gainsboro;
    border-radius: 10px;
    line-height: 30px;
}

.itlab01 h5,
.itlab02 h5,
.itlab03 h5 {
    padding: 20px 5px 5px 0px;
    font-weight: bold;
    font-size: large;
    margin:0;
}

.itlab01 div,
.itlab02 div,
.itlab03 div {
    padding: 0px 20px 20px 30px;
}

.child {
    padding: 0px 230px 0px 230px;
}

.child div {
    padding: 20px 0px 0px 0px;
}

.child-img {
    display: flex;
    margin: 0px 0px 20px 50px;
}

.child-2 {
    margin: 0px 0px 30px 30px;
}

a {
    text-decoration: none;

}

a:visited {
    color: #444;
}

a:hover {
    color: rgb(222, 124, 124);
    text-decoration: underline;
}

a:active {
    text-decoration: none;
    color: black;
}