@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");

*,
h1,
h3 {
  font-weight: bold;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-family: 'Open Sans', monospace;
  letter-spacing: 0.05em;
}


.top-bar {
  background-color: rgb(247, 209, 134);
  display: flex;
  justify-content: flex-end;
  margin: 0px auto;
  padding: 20px 0px;
  position: fixed;
  width:100%;
  top: 0;
  z-index: 10;
}

.top-bar a:last-child {
  padding-right: 150px;
}

.top-bar div {
  font-size: 20px;
  margin: 10px 10px 5px 10px;
}


.link-top {
  width: 70%;
  height: 2px;
  border-top: solid gainsboro 3px;
  margin: 50px 200px 0px 200px
}
.work {
  margin: 100px 200px 0px 200px
}

.piccc,
.final {
  margin: 50px 200px 0px 200px
}


.work h3,
.work h1,
.pic01 h3,
.final1 h3 {
  font-weight: bold;
}

.title{
  margin:30px 0px 0px 0px
}

.work1,
.work2,
.work3 {
  padding: 20px 0px 0px 0px
}

.pic01 p,
.final1 p {
  padding: 10px 0px 0px 0px;
  font-size: smaller;
}

.pic02 {
  display: flex;
  padding: 20px;
}

.final2 {
  max-width: 400px;
  font-size: smaller;
}

.final3 {
  margin: 20px 0px 0px 50px;
}

.final4 {
  margin: 20px 0px 100px 50px;
}

.finalx {
  display: flex;
}


.final5 p {
  margin: 20px 20px 20px 100px;
  background-color: rgb(254, 230, 181);
  border-radius: 5px;
  max-width: 250px;
  text-align: center;
}

a {
  text-decoration: none;

}

a:visited {
  color: #444;
}

a:hover {
  color:rgb(222, 124, 124);
  text-decoration: underline;
}

a:active {
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.box {
  position: relative;
  overflow: hidden;
  margin: 50px auto;
  width: 600px;
  height: 400px;
}

.jiantou {
  font-size: 24px;
  text-decoration: none;
  display: block;
  text-align: center;
  width: 40px;
  height: 30px;
  line-height: 30px;
  background: rgba(158, 154, 154, 0.7);
  color: white;
  z-index: 9;
}

.left {
  position: absolute;
  top: 192.5px;
  left: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.right {
  position: absolute;
  top: 192.5px;
  right: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.pic img,
.pic1 img,
.pic2 img {
  width: 600px;
  height: 400px;
}

.pic,
.pic1,
.pic2 {
  width: 1600%;
}

.pic li,
.pic1 li,
.pic2 li {
  float: left;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0px 0px 0px
}

.container .img-container {
  width: 400px;
  height: 600px;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.container .img-container__1,
.container .img-container__1 .img {
  background: url("http://127.0.0.1:5500/static/image/金魚妻_工作區域 1.png");
  background-size: 100%;
  background-position: center;
  position: relative;
}

.container .img-container__1:before,
.container .img-container__1 .img:before {
  content: attr(data-title);
  font-size: larger;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  transition: 0.5s;
}

.container .img-container__1:after,
.container .img-container__1 .img:after {
  content: attr(data-des);
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  transform: translate(0, 40px);
  opacity: 0;
  z-index: 1;
  transition: 0.5s;
}

.container .img-container__1 .img {
  width: 100%;
  height: 100%;
  filter: blur(0);
  transition: 0.5s;
  position: relative;
}

.container .img-container__1 .img:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background: linear-gradient(to bottom, transparent 0%, rgb(255, 255, 255) 80%);
  opacity: 0.8;
}

.container .img-container__1:hover:before,
.container .img-container__1 .img:hover:before {
  bottom: 40px;
}

.container .img-container__1:hover:after,
.container .img-container__1 .img:hover:after {
  transform: translate(0, 0px);
  opacity: 1;
}

.container .img-container__1:hover .img,
.container .img-container__1 .img:hover .img {
  background-size: 105%;
  filter: blur(1px);
}

.container .img-container__1:hover .img:before,
.container .img-container__1 .img:hover .img:before {
  top: 0%;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
}

.container2 .img-container2 {
  width: 500px;
  height: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.container2 .img-container__2,
.container2 .img-container__2 .img {
  background: url("http://127.0.0.1:5500/static/image/蔡英文.jpg");
  background-size: 100%;
  background-position: center;
  position: relative;
}

.container2 .img-container__2:before,
.container2 .img-container__2 .img:before {
  content: attr(data-title);
  position: absolute;
  font-size: larger;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  transition: 0.5s;
}

.container2 .img-container__2:after,
.container2 .img-container__2.img:after {
  content: attr(data-des);
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  transform: translate(0, 40px);
  opacity: 0;
  z-index: 1;
  transition: 0.5s;
}

.container2 .img-container__2 .img {
  width: 100%;
  height: 100%;
  filter: blur(0);
  transition: 0.5s;
  position: relative;
}

.container2 .img-container__2 .img:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background: linear-gradient(to bottom, transparent 0%, rgb(255, 255, 255) 80%);
  opacity: 0.8;
}

.container2 .img-container__2:hover:before,
.container2 .img-container__2.img:hover:before {
  bottom: 40px;
}

.container2 .img-container__2:hover:after,
.container2 .img-container__2.img:hover:after {
  transform: translate(0, 0px);
  opacity: 1;
}

.container2 .img-container__2:hover .img,
.container2 .img-container__2 .img:hover .img {
  background-size: 105%;
  filter: blur(1px);
}

.container2 .img-container__2:hover .img:before,
.container2 .img-container__2.img:hover .img:before {
  top: 0%;
}

.container3 {
  display: flex;
  flex-wrap: wrap;
}

.container3 .img-container3 {
  width: 500px;
  height: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.container3 .img-container__3,
.container3 .img-container__3 .img {
  background: url("http://127.0.0.1:5500/static/image/課綱.jpg");
  background-size: 100%;
  background-position: center;
  position: relative;
}

.container3 .img-container__3:before,
.container3 .img-container__3 .img:before {
  content: attr(data-title);
  font-size: larger;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  transition: 0.5s;
}

.container3 .img-container__3:after,
.container3 .img-container__3.img:after {
  content: attr(data-des);
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  transform: translate(0, 40px);
  opacity: 0;
  z-index: 1;
  transition: 0.5s;
}

.container3 .img-container__3 .img {
  width: 100%;
  height: 100%;
  filter: blur(0);
  transition: 0.5s;
  position: relative;
}

.container3 .img-container__3 .img:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background: linear-gradient(to bottom, transparent 0%, rgb(255, 255, 255)80%);
  opacity: 0.8;
}

.container3 .img-container__3:hover:before,
.container3 .img-container__3.img:hover:before {
  bottom: 40px;
}

.container3 .img-container__3:hover:after,
.container3 .img-container__3.img:hover:after {
  transform: translate(0, 0px);
  opacity: 1;
}

.container3 .img-container__3:hover .img,
.container3 .img-container__3 .img:hover .img {
  background-size: 105%;
  filter: blur(1px);
}

.container3 .img-container__3:hover .img:before,
.container3 .img-container__3.img:hover .img:before {
  top: 0%;
}

.container4 {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 0px 0px 100px
}

.container4 .img-container4 {
  width: 400px;
  height: 560px;
  margin-right: 20px;
  margin-bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
  overflow: hidden;
}

.container4 .img-container__4,
.container4 .img-container__4.img {
  background: url("http://127.0.0.1:5500/static/image/豆你的 LA_期末平面_page-0001.jpg");
  background-size: 100%;
  background-position: center;
  position: relative;
}

.container4 .img-container__4:before,
.container4 .img-container__4.img:before {
  content: attr(data-title);
  font-size: larger;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  transition: 0.5s;
}

.container4 .img-container__4:after,
.container4 .img-container__4 .img:after {
  content: attr(data-des);
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  transform: translate(0, 40px);
  opacity: 0;
  z-index: 1;
  transition: 0.5s;
}

.container4 .img-container__4 .img {
  width: 100%;
  height: 100%;
  filter: blur(0);
  transition: 0.5s;
  position: relative;
}

.container4 .img-container__4 .img:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  background: linear-gradient(to bottom, transparent 0%, rgb(255, 255, 255) 80%);
  opacity: 0.8;
}

.container4 .img-container__4:hover:before,
.container4 .img-container__4 .img:hover:before {
  bottom: 40px;
}

.container4 .img-container__4:hover:after,
.container4 .img-container__4 .img:hover:after {
  transform: translate(0, 0px);
  opacity: 1;
}

.container4 .img-container__4:hover .img,
.container4 .img-container__4 .img:hover .img {
  background-size: 105%;
  filter: blur(1px);
}

.container4 .img-container__4:hover .img:before,
.container4 .img-container__4 .img:hover .img:before {
  top: 0%;
}